:root {
    --font: 'Space Grotesk', sans-serif;  /* body font family */  
    --font-size: 18px;            /* font size for desktop */

    --bg-color: #000000;        /* body background color */
    --ink-main: #ffffff;        /* body font color */
    --ink-aux: #9A9D9D;       
    --primary-color: #134AFF;   /* links and buttons colors */
    --secondary-color: #F54B39;  

    --radius: 0px;                /* border radius of cards and inputs */
}
/* 
  ***********************************************
    *Main*
  ***********************************************
*/
body, html {
    background: var(--bg-color);
    color: var(--ink-main);
    font-family: var(--font);
    font-size: var(--font-size);
    line-height: 1.2;
    margin: 0;
    padding: 0;
} 
a {
    color: var(--primary-color);
    text-decoration: none;
    transition: 1s;
}
a:hover {
    color: var(--secondary-color);
}
select,input,textarea {
    background: var(--bg-color);
    border: 1px solid;
    border-color: var(--primary-color);
    border-radius: var(--radius);
    display: block;
    height: 35px;
    margin-top: .5rem;
    padding: 0.8rem;
    width: 100%;
}
textarea {
    height: initial;  
}
input[type="radio"] {
    display: inline-block;
    height: initial;
    margin-top: 0;
    width: initial;
}
/* 
  ***********************************************
    *Fonts*
  ***********************************************
*/
h1, h2, h3, h4,
.h0, .h1, .h2, .h3, .h4 {
    font-weight: regular;
    margin-top: 0;
    margin-bottom: 1.3rem;
}
.h0 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}
h1, .h1 {
    font-size: 2.6rem;
}
h2, .h2 {
    font-size: 1.7rem;
}
}
h3, .h3 {
    font-size: 1.3rem;
}
blockquote {
    font-size: 1.5rem;
    line-height: 1.4;
    font-style: italic;
}
small {
    font-size: 0.7rem;
}
.taxonomy {
    font-style: bold;
    text-transform: uppercase;
}
/* 
  ***********************************************
    *Aux classes*
  ***********************************************
*/
.no-style-list ul,
.no-style-list li {
	list-style: none
}
.primary-font {
    color: var(--primary-color);
}
.secondary-font {
    color: var(--secondary-color);
}
.aux-font {
    color: var(--ink-aux);
}
.padded {
    padding: 1.5rem;
}
.p-t {
    padding-top: 1.5rem;
}
.p-b {
    padding-bottom: 1.5rem;
}
/* 
  ***********************************************
    *Cards*
  ***********************************************
*/
.card {
    border: 2px solid;
    border-color: var(--ink-main);
    border-radius: var(--radius);
}
.card-cont {
    padding: 1.6rem;
    border-bottom: 2px solid;
    border-color: var(--ink-main);
}
.card-cont p,
.card-cont h1,
.card-cont h2,
.card-cont h3 {
    margin: 0;
    padding: 0;
}
.card .card-cont:last-child {
    border-bottom: 0;
}

/* 
  ***********************************************
    *Grid*
  ***********************************************
*/
.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 600px) { 
    .grid_by_2 { 
		-moz-column-count: 2;
		-moz-column-gap: 1rem;
		-moz-column-rule: none;
		-webkit-column-count: 2;
		-webkit-column-gap: 1rem;
		-webkit-column-rule: none;
		column-count: 2;
		column-gap: 1rem;
		column-rule: none;
	}
	.grid_by_3 {
		-moz-column-count: 3;
		-moz-column-gap: 1rem;
		-moz-column-rule: none;
		-webkit-column-count: 3;
		-webkit-column-gap: 1rem;
		-webkit-column-rule: none;
		column-count: 3;
		column-gap: 1rem;
		column-rule: none;
	}
    .grid_by_4 { 
		-moz-column-count: 4;
		-moz-column-gap: 1rem;
		-moz-column-rule: none;
		-webkit-column-count: 4;
		-webkit-column-gap: 1rem;
		-webkit-column-rule: none;
		column-count: 4;
		column-gap: 1rem;
		column-rule: none;
	} 
}
